:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(237, 30%, 29%);
  --light-white: rgb(250, 250, 250);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 9%, 91%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --gradient-light-red: hsl(13, 100%, 72%);
  --gradient-red: hsl(353, 100%, 62%);
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

:root {
  --overpass-font: "Overpass", sans-serif;
  --ubuntu-font: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--overpass-font);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 1740px) {
  body {
    font-size: 22px;
  }
}

body .wrapper {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  position: relative;
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--light-red);
  border-radius: 0 0 0 100px;
  text-align: center;
  padding-bottom: 100px;
  position: relative;
  z-index: 99;
  overflow: hidden;
}

header .header-text {
  font-family: var(--overpass-font);
  color: var(--white);
  text-align: center;
}

header .title-header {
  padding: 50px 45px 10px 45px;
}

header .subtitle-header {
  font-weight: 300;
  font-size: medium;
  opacity: 0.8;
  padding: 10px 50px;
  padding-bottom: 30px;
}

@media (min-width: 700px) {
  header .subtitle-header {
    padding: 0 50px 40px 50px;
    font-size: smaller;
  }
}

header .start-header {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--white);
  border: solid 1px var(--white);
  font-family: var(--ubuntu-font);
  font-weight: bolder;
  color: var(--light-red);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-right: 10px;
}

header .start-header:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-clip: padding-box;
}

header .learn-more-header {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: transparent;
  border: solid 1px var(--white);
  font-family: var(--ubuntu-font);
  font-weight: bolder;
  color: var(--white);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

header .learn-more-header:hover {
  color: var(--light-red);
  background-color: var(--white);
}

nav {
  width: 100%;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

nav .logo {
  font-size: 33px;
  font-family: var(--overpass-font);
  font-weight: 700;
  letter-spacing: -2px;
  color: var(--white);
}

nav .hamburger-menu {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 700px) {
  nav .hamburger-menu {
    display: none;
  }
}

nav .hamburger-menu .menu-line {
  display: block;
}

nav .hamburger-menu .menu-close {
  display: none;
}

nav .mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 5%;
  right: 5%;
  background-color: var(--white);
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  -webkit-box-shadow: 0 5px 20px var(--very-dark-grayish-blue);
          box-shadow: 0 5px 20px var(--very-dark-grayish-blue);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  pointer-events: none;
}

nav .mobile-nav.slide-in {
  pointer-events: all;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .mobile-nav .list-nav {
  border-bottom: 1px solid var(--grayish-blue);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  overflow-y: hidden;
}

@media (min-width: 700px) {
  nav .mobile-nav .list-nav {
    pointer-events: none;
  }
}

nav .mobile-nav .list-nav .name-list-nav {
  text-align: center;
  padding: 10px 10px 20px 10px;
  font-family: var(--ubuntu-font);
  color: var(--very-dark-blue);
  font-weight: 500;
  cursor: pointer;
}

nav .mobile-nav .list-nav .name-list-nav span {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  color: var(--light-red);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  font-size: smaller;
  margin-left: 5px;
  pointer-events: none;
}

nav .mobile-nav .list-nav .name-list-nav.active {
  opacity: 0.8;
}

nav .mobile-nav .list-nav .name-list-nav.active span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .mobile-nav .list-nav .name-list-nav .submenu {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  list-style-type: none;
  background-color: var(--grayish-blue);
  opacity: 0.8;
  display: none;
  pointer-events: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

nav .mobile-nav .list-nav .name-list-nav .submenu li {
  font-size: 16px;
  padding: 10px;
  opacity: 0.7;
}

nav .mobile-nav .list-nav .name-list-nav .submenu li:hover {
  opacity: 1;
}

nav .mobile-nav .list-nav .name-list-nav .submenu.active {
  pointer-events: all;
  display: block;
}

nav .mobile-nav button {
  border: none;
  font-family: var(--ubuntu-font);
  background-color: transparent;
  font-weight: 500;
  font-size: inherit;
}

nav .mobile-nav .login-nav {
  margin: 20px auto;
  font-weight: 500;
  color: var(--very-dark-blue);
}

nav .mobile-nav .sign-up-nav {
  padding: 10px 30px;
  margin: 0 auto;
  color: var(--white);
  background: -webkit-gradient(linear, left top, right top, from(var(--gradient-light-red)), to(var(--gradient-red)));
  background: linear-gradient(to right, var(--gradient-light-red), var(--gradient-red));
  border-radius: 20px;
}

nav .desktop-nav {
  display: none;
}

@media (min-width: 700px) {
  nav .desktop-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .desktop-nav .list-nav {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    justify-self: left;
    margin-left: 30px;
  }
  nav .desktop-nav .list-nav .name-list-nav {
    font-family: var(--ubuntu-font);
    color: var(--grayish-blue);
    font-weight: 500;
    cursor: pointer;
    padding: 0 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
  }
  nav .desktop-nav .list-nav .name-list-nav span {
    font-size: small;
  }
  nav .desktop-nav .list-nav .name-list-nav.active {
    opacity: 0.8;
  }
  nav .desktop-nav .list-nav .name-list-nav.active span {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  nav .desktop-nav .list-nav .name-list-nav .submenu {
    position: absolute;
    top: -20px;
    left: 0;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
    background-color: var(--white);
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-box-shadow: 0 2px 20px var(--very-dark-grayish-blue);
            box-shadow: 0 2px 20px var(--very-dark-grayish-blue);
  }
  nav .desktop-nav .list-nav .name-list-nav .submenu li {
    font-size: 16px;
    padding: 10px;
    font-size: smaller;
    color: var(--very-dark-grayish-blue);
    cursor: pointer;
    opacity: 0.8;
  }
  nav .desktop-nav .list-nav .name-list-nav .submenu li:hover {
    color: var(--very-dark-black-blue);
    opacity: 1;
  }
  nav .desktop-nav .list-nav .name-list-nav .submenu.active {
    visibility: visible;
    pointer-events: all;
    top: 10px;
  }
  nav .desktop-nav .list-nav .name-list-nav:hover {
    text-decoration: underline;
  }
  nav .desktop-nav button {
    border: none;
    font-family: var(--ubuntu-font);
    background-color: transparent;
    font-weight: 500;
    font-size: inherit;
  }
  nav .desktop-nav .login-nav {
    margin: 0 30px;
    font-weight: 500;
    color: var(--grayish-blue);
  }
  nav .desktop-nav .sign-up-nav {
    padding: 0 30px;
    color: var(--light-red);
    background-color: #e6e6ea;
    border-radius: 20px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  nav .desktop-nav .sign-up-nav:hover {
    background-color: rgba(230, 230, 234, 0.4);
    color: var(--grayish-blue);
    cursor: pointer;
  }
}

main {
  background-color: var(--light-white);
  padding: 120px 0;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  overflow-x: hidden;
}

main .header-main {
  text-align: center;
  color: var(--very-dark-blue);
  font-size: xx-large;
  position: relative;
  top: 50px;
}

main .services-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  justify-items: center;
}

@media (min-width: 950px) {
  main .services-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}

@media (min-width: 950px) {
  main .services-section.laptop-section {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

main .services-section .info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 40px;
}

main .services-section .info-section .subtitles-section {
  color: var(--very-dark-blue);
  font-weight: bold;
  font-size: 24px;
  padding: 50px 0 20px 0;
}

main .services-section .info-section .text-section {
  line-height: 1.7;
}

main .services-section .image-section {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  main .services-section .image-section {
    width: 60%;
    height: 60%;
  }
}

@media (min-width: 950px) {
  main .services-section .image-section {
    position: relative;
    right: -8%;
  }
}

@media (min-width: 950px) {
  main .services-section .image-section.laptop-section {
    right: 9%;
  }
}

main .services-section .image-section img {
  width: 100%;
  height: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--very-dark-black-blue);
  border-radius: 0 50px 0 0;
  padding: 40px 10% 0 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 950px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: larger;
  }
}

footer .logo {
  font-size: 33px;
  font-family: var(--overpass-font);
  font-weight: 700;
  letter-spacing: -2px;
  color: var(--white);
  margin: 0;
}

@media (min-width: 950px) {
  footer .logo {
    margin: 0 15% 0 0;
  }
}

footer ul {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px 10px;
}

@media (min-width: 950px) {
  footer ul {
    padding: 0 0 30px 0;
  }
}

footer ul li {
  color: var(--grayish-blue);
  opacity: 0.8;
  padding: 0;
  text-align: center;
  padding: 5px 0;
  font-size: larger;
}

footer ul li:nth-of-type(1) {
  font-weight: bold;
  color: var(--white);
  font-size: larger;
  padding: 5px 10px 20px 10px;
}

footer ul li:hover {
  cursor: pointer;
  color: var(--white);
}

@media (min-width: 950px) {
  footer ul li {
    padding: 10px;
  }
}

footer .attribution {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  color: var(--grayish-blue);
  padding: 50px 0 20px 0;
}

footer .attribution a {
  color: var(--very-light-red);
  cursor: pointer;
  font-size: smaller;
}
/*# sourceMappingURL=app.css.map */