:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(236, 31%, 35%);
  --light-white: rgb(250, 250, 250);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 9%, 91%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --gradient-light-red: hsl(13, 100%, 72%);
  --gradient-red: hsl(353, 100%, 62%);
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

:root {
  --overpass-font: "Overpass", sans-serif;
  --ubuntu-font: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (min-width: 1900px) {
  html {
    font-size: 19px;
  }
}

body {
  font-family: var(--overpass-font);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .wrapper {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  position: relative;
  background-color: var(--light-white);
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url(/images/bg-pattern-intro.svg), -webkit-gradient(linear, left top, right bottom, from(var(--gradient-light-red)), to(var(--gradient-red)));
  background-image: url(/images/bg-pattern-intro.svg), linear-gradient(to right bottom, var(--gradient-light-red), var(--gradient-red));
  background-repeat: no-repeat;
  background-position: 40% 35%, right;
  background-size: 300%, cover;
  border-radius: 0 0 0 120px;
  text-align: center;
  padding-bottom: 140px;
  font-size: 1rem;
}

@media (min-width: 750px) {
  header {
    background-image: url(/images/bg-pattern-intro.svg), -webkit-gradient(linear, left top, right top, from(var(--gradient-light-red)), to(var(--gradient-red)));
    background-image: url(/images/bg-pattern-intro.svg), linear-gradient(to right, var(--gradient-light-red), var(--gradient-red));
    background-position: 20% 50%, right;
    background-size: 190%, cover;
  }
}

header .header-text {
  font-family: var(--overpass-font);
  color: var(--white);
  text-align: center;
  font-size: 2.2em;
}

header .title-header {
  padding: 80px 25px 10px 25px;
}

header .subtitle-header {
  font-weight: 300;
  font-size: 1em;
  opacity: 0.8;
  padding: 10px 50px;
  padding-bottom: 30px;
}

@media (min-width: 750px) {
  header .subtitle-header {
    padding: 0 50px 40px 50px;
  }
}

header .start-header {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--white);
  border: solid 1px var(--white);
  font-family: var(--ubuntu-font);
  font-weight: bolder;
  color: var(--light-red);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-right: 10px;
}

header .start-header:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-clip: padding-box;
}

header .learn-more-header {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: transparent;
  border: solid 1px var(--white);
  font-family: var(--ubuntu-font);
  font-weight: bolder;
  color: var(--white);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

header .learn-more-header:hover {
  color: var(--light-red);
  background-color: var(--white);
}

nav {
  width: 100%;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-size: 1rem;
}

@media (min-width: 970px) {
  nav {
    padding: 30px 10%;
  }
}

nav .logo {
  background-image: url(/images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 40px;
}

nav .hamburger-menu {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 750px) {
  nav .hamburger-menu {
    display: none;
  }
}

nav .hamburger-menu .menu-line {
  display: block;
}

nav .hamburger-menu .menu-close {
  display: none;
}

nav .mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 5%;
  right: 5%;
  background-color: var(--white);
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  -webkit-box-shadow: 0 5px 20px var(--very-dark-grayish-blue);
          box-shadow: 0 5px 20px var(--very-dark-grayish-blue);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  pointer-events: none;
}

nav .mobile-nav.slide-in {
  pointer-events: all;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .mobile-nav .list-nav {
  border-bottom: 1px solid var(--grayish-blue);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  overflow-y: hidden;
}

@media (min-width: 750px) {
  nav .mobile-nav .list-nav {
    pointer-events: none;
  }
}

nav .mobile-nav .list-nav .name-list-nav {
  text-align: center;
  padding: 10px 10px 20px 10px;
  font-family: var(--ubuntu-font);
  color: var(--very-dark-blue);
  font-weight: 500;
  cursor: pointer;
}

nav .mobile-nav .list-nav .name-list-nav span {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  color: var(--light-red);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin-left: 5px;
  pointer-events: none;
}

nav .mobile-nav .list-nav .name-list-nav.active {
  opacity: 0.8;
}

nav .mobile-nav .list-nav .name-list-nav.active span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .mobile-nav .list-nav .name-list-nav .submenu {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  list-style-type: none;
  background-color: var(--grayish-blue);
  opacity: 0.8;
  display: none;
  pointer-events: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

nav .mobile-nav .list-nav .name-list-nav .submenu li {
  font-size: 16px;
  padding: 10px;
  opacity: 0.7;
}

nav .mobile-nav .list-nav .name-list-nav .submenu li:hover {
  opacity: 1;
}

nav .mobile-nav .list-nav .name-list-nav .submenu.active {
  pointer-events: all;
  display: block;
}

nav .mobile-nav button {
  border: none;
  font-family: var(--ubuntu-font);
  background-color: transparent;
  font-weight: 500;
  font-size: inherit;
}

nav .mobile-nav .login-nav {
  margin: 20px auto;
  font-weight: 500;
  color: var(--very-dark-blue);
}

nav .mobile-nav .sign-up-nav {
  padding: 10px 30px;
  margin: 0 auto;
  color: var(--white);
  background: -webkit-gradient(linear, left top, right top, from(var(--gradient-light-red)), to(var(--gradient-red)));
  background: linear-gradient(to right, var(--gradient-light-red), var(--gradient-red));
  border-radius: 20px;
}

nav .desktop-nav {
  display: none;
}

@media (min-width: 750px) {
  nav .desktop-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .desktop-nav .list-nav {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    justify-self: left;
    margin-left: 30px;
  }
  nav .desktop-nav .list-nav .name-list-nav {
    font-family: var(--ubuntu-font);
    color: var(--grayish-blue);
    font-weight: 500;
    cursor: pointer;
    padding: 0 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
  }
  nav .desktop-nav .list-nav .name-list-nav span {
    font-size: small;
  }
  nav .desktop-nav .list-nav .name-list-nav.active {
    opacity: 0.8;
  }
  nav .desktop-nav .list-nav .name-list-nav.active span {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  nav .desktop-nav .list-nav .name-list-nav .submenu {
    position: absolute;
    top: -20px;
    left: 0;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
    background-color: var(--white);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-box-shadow: 0 2px 20px var(--very-dark-grayish-blue);
            box-shadow: 0 2px 20px var(--very-dark-grayish-blue);
  }
  nav .desktop-nav .list-nav .name-list-nav .submenu li {
    padding: 10px;
    color: var(--very-dark-grayish-blue);
    cursor: pointer;
    opacity: 0.8;
  }
  nav .desktop-nav .list-nav .name-list-nav .submenu li:hover {
    color: var(--very-dark-black-blue);
    opacity: 1;
  }
  nav .desktop-nav .list-nav .name-list-nav .submenu.active {
    opacity: 1;
    pointer-events: all;
    top: 10px;
  }
  nav .desktop-nav .list-nav .name-list-nav:hover {
    text-decoration: underline;
  }
  nav .desktop-nav button {
    border: none;
    font-family: var(--ubuntu-font);
    background-color: transparent;
    font-weight: 500;
    font-size: 1.2em;
  }
  nav .desktop-nav .login-nav {
    margin: 0 30px;
    font-weight: 500;
    color: var(--grayish-blue);
  }
  nav .desktop-nav .sign-up-nav {
    padding: 0 30px;
    color: var(--light-red);
    background-color: #e6e6ea;
    border-radius: 20px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  nav .desktop-nav .sign-up-nav:hover {
    background-color: rgba(230, 230, 234, 0.4);
    color: var(--grayish-blue);
    cursor: pointer;
  }
}

main {
  background-color: var(--light-white);
  padding: 0;
  overflow-x: hidden;
  font-size: 1rem;
}

main .header-main {
  text-align: center;
  color: var(--very-dark-blue);
  position: relative;
  padding: 40px 0;
  font-size: 1.9em;
  letter-spacing: -1px;
}

@media (min-width: 970px) {
  main .header-main {
    top: 50px;
  }
}

main .services-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  justify-items: center;
  position: relative;
  padding-bottom: 40px;
}

@media (min-width: 970px) {
  main .services-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 970px) {
  main .services-section.laptop-section {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    padding-bottom: 80px;
  }
}

main .services-section.phones-section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url(/images/bg-pattern-circles.svg), -webkit-gradient(linear, left bottom, left top, from(var(--very-dark-desaturated-blue)), to(var(--very-dark-gray-blue)));
  background-image: url(/images/bg-pattern-circles.svg), linear-gradient(to top, var(--very-dark-desaturated-blue), var(--very-dark-gray-blue));
  background-repeat: no-repeat;
  background-position: center -110px, top;
  background-size: contain, cover;
  padding: 200px 20px 100px 20px;
  margin: 200px 0 70px 0;
  border-radius: 0 100px;
  position: relative;
  z-index: 1;
}

@media (min-width: 750px) {
  main .services-section.phones-section {
    background-image: url(/images/bg-pattern-circles.svg), -webkit-gradient(linear, right top, left top, from(var(--very-dark-desaturated-blue)), to(var(--very-dark-gray-blue)));
    background-image: url(/images/bg-pattern-circles.svg), linear-gradient(to left, var(--very-dark-desaturated-blue), var(--very-dark-gray-blue));
    background-position: center -200px, left;
  }
}

@media (min-width: 970px) {
  main .services-section.phones-section {
    margin: 100px 0;
    padding: 55px 10%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-position: -170px -200px, top;
    background-size: 50%, cover;
  }
}

main .services-section .info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

@media (min-width: 970px) {
  main .services-section .info-section {
    text-align: left;
  }
}

main .services-section .info-section .subtitles-section {
  color: var(--very-dark-blue);
  font-size: 1.9em;
  padding: 40px 20px 20px 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 970px) {
  main .services-section .info-section .subtitles-section {
    padding: 40px 0 20px 0;
    font-size: 1.5em;
  }
}

main .services-section .info-section .text-section {
  line-height: 1.7;
  font-size: 1.15em;
}

@media (min-width: 750px) {
  main .services-section .info-section .text-section {
    padding: 0 80px;
  }
}

@media (min-width: 970px) {
  main .services-section .info-section .text-section {
    padding: 0;
  }
}

@media (min-width: 970px) {
  main .services-section .info-section.phones-section {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

main .services-section .info-section.phones-section .subtitles-section {
  color: var(--white);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 2.2em;
}

@media (min-width: 970px) {
  main .services-section .info-section.phones-section .subtitles-section {
    padding: 20px 0;
    font-size: 1.8em;
  }
}

main .services-section .info-section.phones-section .text-section {
  line-height: 1.7;
  opacity: 0.8;
  color: var(--grayish-blue);
}

main .image-section {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 750px) {
  main .image-section {
    width: 60%;
    height: 60%;
  }
}

@media (min-width: 970px) {
  main .image-section {
    position: relative;
    right: -8%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 970px) {
  main .image-section.laptop-section {
    right: 9%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

main .image-section img {
  width: 100%;
  height: 100%;
}

main .phones-image {
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  z-index: 5;
  width: 375px;
  margin: 0 auto;
}

@media (min-width: 970px) {
  main .phones-image {
    right: auto;
    width: 450px;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

@media (min-width: 1540px) {
  main .phones-image {
    top: -22%;
    width: 500px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--very-dark-black-blue);
  border-radius: 0 50px 0 0;
  padding: 40px 10% 0 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

@media (min-width: 970px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

footer .logo {
  font-size: 33px;
  font-family: var(--overpass-font);
  font-weight: 700;
  letter-spacing: -2px;
  color: var(--white);
  margin: 0;
}

@media (min-width: 970px) {
  footer .logo {
    margin: 0 15% 0 0;
  }
}

footer ul {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px 10px;
}

@media (min-width: 970px) {
  footer ul {
    padding: 0 0 30px 0;
  }
}

footer ul li {
  color: var(--grayish-blue);
  opacity: 0.8;
  padding: 0;
  text-align: center;
  padding: 5px 0;
}

footer ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--white);
}

footer ul li:nth-of-type(1) {
  font-weight: bold;
  color: var(--white);
  font-size: 1.3rem;
  padding: 5px 10px 20px 10px;
  text-decoration: none;
  pointer-events: none;
}

@media (min-width: 970px) {
  footer ul li {
    padding: 10px;
  }
}

footer .attribution {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  color: var(--grayish-blue);
  padding: 50px 0 20px 0;
  font-size: 1em;
}

footer .attribution a {
  color: var(--very-light-red);
  cursor: pointer;
  font-size: smaller;
}
/*# sourceMappingURL=app.css.map */