:root {
  // Primary
  --light-red: hsl(356, 100%, 66%); //Light red (CTA text)
  --very-light-red: hsl(355, 100%, 74%); //(CTA hover background)
  --very-dark-blue: hsl(237, 30%, 29%); //(headings)
  --light-white: rgb(250, 250, 250); //body color
  //Neutral

  --white: hsl(0, 0%, 100%); //(text)
  --grayish-blue: hsl(240, 9%, 91%); //(footer text)
  --very-dark-grayish-blue: hsl(207, 13%, 34%); //(body copy)
  --very-dark-black-blue: hsl(240, 10%, 16%); //(footer background)

  //Gradient

  // Background gradient - Intro/CTA mobile nav:
  --gradient-light-red: hsl(13, 100%, 72%);
  --gradient-red: hsl(353, 100%, 62%);

  // Background gradient - body:

  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
