footer {
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-black-blue);
  border-radius: 0 50px 0 0;
  padding: 40px 10% 0 10%;
  align-items: center;
  font-size: 1rem;
  @include two-section-view {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .logo {
    background-image: url(../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 75px;
    height: 40px;
    margin: 0;
    @include two-section-view {
      margin: 0 15% 0 0;
    }
  }
  ul {
    list-style: none;
    flex-grow: 1;
    padding: 70px 10px 30px 10px;
    @include two-section-view {
      padding: 0 0 30px 0;
    }
    li {
      color: var(--grayish-blue);
      opacity: 0.8;
      padding: 0;
      text-align: center;
      padding: 5px 0;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: var(--white);
      }
      &:nth-of-type(1) {
        font-weight: bold;
        color: var(--white);
        font-size: 1.3rem;
        padding: 5px 10px 20px 10px;
        text-decoration: none;
        pointer-events: none;
      }

      @include two-section-view {
        padding: 10px;
      }
    }
  }
  .attribution {
    flex-basis: 100%;
    text-align: center;
    color: var(--grayish-blue);
    padding: 50px 0 20px 0;
    font-size: 1em;
    a {
      color: var(--very-light-red);
      cursor: pointer;
      font-size: smaller;
    }
  }
}
