header {
  height: fit-content;
  background-color: var(--light-red);
  background-image: url(../images/bg-pattern-intro.svg);
  border-radius: 0 0 0 100px;
  text-align: center;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  .header-text {
    font-family: var(--overpass-font);
    color: var(--white);
    text-align: center;
  }
  .title-header {
    padding: 50px 45px 10px 45px;
  }
  .subtitle-header {
    font-weight: 300;
    font-size: medium;
    opacity: 0.8;
    padding: 10px 50px;
    padding-bottom: 30px;
    @include tablet-view {
      padding: 0 50px 40px 50px;
      font-size: smaller;
    }
  }
  .start-header {
    @include buttonStyle(
      var(--white),
      solid 1px var(--white),
      var(--light-red)
    );
    margin-right: 10px;
    &:hover {
      background-color: rgba(white, $alpha: 0.4);
      color: var(--white);
      border: 1px solid rgba(white, 0.4);
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
    }
  }
  .learn-more-header {
    @include buttonStyle(transparent, solid 1px var(--white), var(--white));
    &:hover {
      color: var(--light-red);
      background-color: var(--white);
    }
  }
}
