main {
  background-color: var(--light-white);
  padding: 0;
  overflow-x: hidden;
  font-size: 1rem;

  .header-main {
    text-align: center;
    color: var(--very-dark-blue);
    position: relative;
    padding: 40px 0;
    font-size: 1.9em;
    letter-spacing: -1px;
    @include two-section-view {
      top: 50px;
    }
  }

  .services-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    position: relative;
    padding-bottom: 40px;
    @include two-section-view {
      flex-direction: row;
      position: relative;
      transform: translateX(10%);
      align-items: center;
    }
    &.laptop-section {
      @include two-section-view {
        transform: translateX(-10%);
        padding-bottom: 80px;
      }
    }
    &.phones-section {
      height: fit-content;
      background-image: url(../images/bg-pattern-circles.svg),
        linear-gradient(
          to top,
          var(--very-dark-desaturated-blue),
          var(--very-dark-gray-blue)
        );
      background-repeat: no-repeat;
      background-position: center -110px, top;
      background-size: contain, cover;
      padding: 200px 20px 100px 20px;
      margin: 200px 0 70px 0;
      border-radius: 0 100px;
      position: relative;
      z-index: 1;
      @include tablet-view {
        background-image: url(../images/bg-pattern-circles.svg),
          linear-gradient(
            to left,
            var(--very-dark-desaturated-blue),
            var(--very-dark-gray-blue)
          );
        background-position: center -200px, left;
      }
      @include two-section-view {
        margin: 100px 0;
        padding: 55px 10%;
        transform: translateX(0);
        justify-content: flex-end;
        background-position: -170px -200px, top;
        background-size: 50%, cover;
      }
    }
    .info-section {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding: 20px;
      text-align: center;
      font-size: 1rem;

      @include two-section-view {
        text-align: left;
      }
      .subtitles-section {
        color: var(--very-dark-blue);
        font-size: 1.9em;
        padding: 40px 20px 20px 20px;
        flex-basis: 100%;
        @include two-section-view {
          padding: 40px 0 20px 0;
          font-size: 1.5em;
        }
      }
      .text-section {
        line-height: 1.7;
        font-size: 1.15em;
        @include tablet-view {
          padding: 0 80px;
        }
        @include two-section-view {
          padding: 0;
        }
      }
      &.phones-section {
        @include two-section-view {
          flex-basis: 50%;
        }
        .subtitles-section {
          color: var(--white);
          flex-basis: 100%;
          font-size: 2.2em;
          @include two-section-view {
            padding: 20px 0;
            font-size: 1.8em;
          }
        }
        .text-section {
          line-height: 1.7;
          opacity: 0.8;
          color: var(--grayish-blue);
        }
      }
    }
  }
  .image-section {
    width: 100%;
    margin: 0 auto;
    @include tablet-view {
      width: 60%;
      height: 60%;
    }
    @include two-section-view {
      position: relative;
      right: -8%;
      order: 1;
    }
    &.laptop-section {
      @include two-section-view {
        right: 9%;
        order: 0;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .phones-image {
    position: absolute;
    top: -25%;
    left: 0;
    right: 0;
    z-index: 5;
    width: 375px;
    margin: 0 auto;
    @include two-section-view {
      right: auto;
      width: 450px;
      transform: translateX(20%);
    }
    @include bigger-phones {
      top: -22%;
      width: 500px;
    }
  }
}
