main {
  background-color: var(--light-white);
  padding: 120px 0 0 0;
  transform: translateY(-70px);
  overflow-x: hidden;
  .header-main {
    text-align: center;
    color: var(--very-dark-blue);
    position: relative;
    padding: 40px 0;
    @include two-section-view {
      font-size: xx-large;
      top: 50px;
    }
  }
  .services-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    @include two-section-view {
      flex-direction: row;
      position: relative;
      transform: translateX(10%);
    }
    &.laptop-section {
      @include two-section-view {
        transform: translateX(-10%);
      }
    }

    .info-section {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding: 20px;
      text-align: center;
      order: 2;
      @include two-section-view {
        text-align: left;
      }
      .subtitles-section {
        color: var(--very-dark-blue);
        font-weight: bold;
        font-size: 24px;
        padding: 40px 0 20px 0;
        flex-basis: 100%;
      }
      .text-section {
        line-height: 1.7;
      }
    }
    .image-section {
      width: 100%;
      margin: 0 auto;
      position: relative;

      @include tablet-view {
        width: 60%;
        height: 60%;
      }
      @include two-section-view {
        right: -8%;
        order: 1;
      }
      &.laptop-section {
        width: 120%;
        left: -10%;
        @include two-section-view {
          right: 9%;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
