:root {
  --overpass-font: "Overpass", sans-serif;
  --ubuntu-font: "Ubuntu", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  @include bigger-fonts {
    font-size: 19px;
  }
}
body {
  font-family: var(--overpass-font);
  width: 100%;
  height: fit-content;
  .wrapper {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 auto;
    height: fit-content;
    overflow-x: hidden;
    position: relative;
  }
}
